<!DOCTYPE html>
<html>
<head>
    <title>Clasificador de Insectos</title>
    <script>
        function clasificarInsecto(event) {
            event.preventDefault();
            const majorLength = document.getElementById('majorLength').value;
            const minorLength = document.getElementById('minorLength').value;
            const perimetro = document.getElementById('perimetro').value;

            fetch('/predict', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
                body: `MajorAxisLength=${majorLength}&MinorAxisLength=${minorLength}&Perimeter=${perimetro}`,
                /* body: `abdomen=${abdomen}&antena=${antena}`, */
            })
            .then(response => response.json())
            .then(data => {
                if (data.error) {
                    document.getElementById('resultado').innerText = 'Error: ' + data.error;
                } else {
                    document.getElementById('resultado').innerText = 'La pasa es una ' + data.categoria;
                }
            })
            .catch(error => {
                document.getElementById('resultado').innerText = 'Error en la solicitud.';
                console.error('Error:', error);
            });
        }
    </script>
</head>
<body>
    <h1>Clasificador de Pasas</h1>
    <form id="formulario" onsubmit="clasificarInsecto(event)">
        <label for="majorLength">Mayor longitud:</label>
        <input type="text" id="majorLength" name="majorLength"><br><br>
        <label for="minorLength">Menor Longitud:</label>
        <input type="text" id="minorLength" name="minorLength"><br><br>
        <label for="perimetro">Perimetro:</label>
        <input type="text" id="perimetro" name="perimetro"><br><br>
        <input type="submit" value="Enviar">
    </form>
    <p id="resultado"></p>
</body>
</html>
