<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Model Prediction</title>
</head>

<body>
    <h1>Adjusted Price of Gold</h1>
    <form method="POST" action="/predict">
        <div class="form-group">
            <label for="high">High:</label>
            <input type="text" class="form-control" id="high" name="high" required>
        </div>
        <div class="form-group">
            <label for="low">Low:</label>
            <input type="text" class="form-control" id="low" name="low" required>
        </div>
        <div class="form-group">
            <label for="gdx_open">GDX Open:</label>
            <input type="text" class="form-control" id="gdx_open" name="gdx_open" required>
        </div>
        <div class="form-group">
            <label for="close">Close:</label>
            <input type="text" class="form-control" id="close" name="close" required>
        </div>
        <div class="form-group">
            <label for="eg_low">EG Low:</label>
            <input type="text" class="form-control" id="eg_low" name="eg_low" required>
        </div>
        <button type="submit" class="btn btn-primary">Predecir</button>
    </form>

    <div id="result"></div>

    <script>
        const form = document.querySelector('form');
        form.onsubmit = async (e) => {
            e.preventDefault();

            const formData = new FormData(form);
            const response = await fetch('/predict', {
                method: 'POST',
                body: formData
            });

            const result = await response.json();
            document.getElementById('result').innerText = result.prediction !== undefined
                ? `Prediction: ${result.prediction.toFixed(2)} (Adjusted Closing Price of Gold).`
                : `Error: ${result.error}`;
        }
    </script>
</body>

</html>